/*
 * Basic Settings
 */

html {
  font-size: 1em;
  min-height:100%;
}

body {
  font-family: "Brandon Grotesque", Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
  margin: none;
  padding: none;
  display: inline-block;
}

.container {
  max-width: 1035px;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

/*
 * Top Section Settings
 */

#top-section {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #afafaf;
}

.flag {
  width: 25px;
  height: 13px;
  margin-right: 7px;
}

p.country {
  padding-top: 3px;
  font-size: 0.8em;
}

.top-links li {
  margin-top: 5px;
  margin-bottom: 2px;
  padding: 0 4px 0 0;
  border-right: 1px solid #aeaeae;
  font-size: 0.88em;
}

.top-links li:first-child, .top-links li:last-child  {
  border-right: none;
}

.chat {
  width: 37px;
  height: 21px;
}

.basket {
  margin: 5px 0 0 2px;
  width: 14px;
}

input {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 0;
  height: 18px;
  width: 175px;
}

.search-img {
  width: 18px;
  margin-bottom: 6px;
}

h2.free {
  line-height: 0.6em;
  margin: -5px 0 5px 0;
  color: #686868;
}

span.shipping-code {
  font-size: 0.37em;
}

span.extra-small {
  font-size: 0.3em;
}

span.code {
  font-size: 0.37em;
  font-weight: bold;
  color: #000;
}

.red-text {
  font-size: 18px;
  color: #cb121a;
}

/*
 * Logo and Navigation Section Settings
 */

#navigation-section {
  height: auto;
  width: 100%;
}

.main-nav li {
  vertical-align: middle;
  padding: 6px 2.4%;
  color: #fff;
  font-size: 12px;
  background-color: #cb121a;
}

.main-nav li a {
  color: #fff;
}

.logo {
  height: 68px;
  margin-top: 35px;
}

.innerwear, .readywear {
  text-transform: uppercase;
  font-style: italic;
  margin-top: 17px;
  font-size: 0.9em;
  overflow-x: hidden;
}

.innerwear:after, .readywear:after {

  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
           ". . . . . . . . . . . . . . . . . . . . "
}

.readywear {
  margin-left: 15px;
}

.girl {
  font-size: 1.2em;
}

.to-right {
  float: right;
}

.sub-nav {
  font-size: 0.9em;
  margin-top: 8px;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
}

.sub-nav li {
  padding: 3px 15px;
}

.sub-nav li:last-child {
  padding: 3px 0;
}

.breadcrumbs li {
  padding: 10px 10px 20px 0;
  font-size: 0.9em;
}

.breadcrumbs i {
  padding-right: 5px;
}

.selected-menu {
  padding-top: 10px;
  font-size: 0.9em;
}

/*
 * Carousel Section Settings
 */

.carousel {
  margin-bottom: 75px;
}

.img-center img {
  margin: 0 auto;
}

.gallery {
  width: 167px;
  margin-right: 4%;
  float: left;
}

.gallery:last-child {
  margin-right: 0;
}

.gallery img {
  width: 167px;
  margin-right: 0;
}

p.options i{
  margin-top: 17px;
}

p.options i:first-child {
  padding-right: 5px;
}

p.options i.brown {
  color: #f1d2bf;
}

p.name {
  font-size: 0.85em;
  margin-bottom: 3px;
}

p.price {
  font-size: 1em;
  font-weight: bold;
}

p.rate i {
  font-size: 1em;
  color: #cb121a;
  padding-right: 4px;
  margin-bottom: 3px;
}

p.rate i.not {
  color: #e9e9e9;
}

/*
 * Media Queries
 */

@media (max-width: 1200px) {
  .innerwear, .readywear {
    display: none;
  }
  .main-nav {
    margin-top: 20px;
  }
  .main-nav li {
    padding: 6px 2.27%;
  }
  .gallery {
    margin-right: 2.7%;
  }
}

@media (max-width: 991px) {
  .main-nav li {
    padding: 6px 2.1%;
    margin-bottom: 5px;
  }
  .gallery {
    margin: 0 5% 20px 5%;
  }
}

@media (max-width: 745px) {
  .gallery {
    margin: 0 4.3% 20px 4.3%;
  }
}

@media (max-width: 705px) {
  .gallery {
    margin: 0 10% 20px 10%;
  }
}

@media (max-width: 586px) {
  .gallery {
    margin: 0 30% 20px 30%;
  }
  input {
    width: 100px;
  }
  h2.free {
    line-height: 0.3em;
  }
}

@media (max-width: 355px) {
  #search {
    margin-top: 15px;
  }
}
